body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.hero-section {
    background-color: #f5f5f5;
    padding: 2rem 1rem;
    border-radius: 10px;
    max-width: 1200px;
    height: 160px;
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content p {
    font-size: 1.5rem;
    margin: 0 0 1rem;
    color: #555;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
    color: #333;
    font-weight: bold;
}

/* Categorías */
.categories-section {
    margin: 2rem 0;
    max-height: 250px;
}

.categories-section h2 {
    padding-left: 53px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Ajuste a disposición horizontal */
.categories-grid {
    padding-top: 5px;
    display: flex;
    flex-wrap: nowrap; /* Evitar salto de línea */
    overflow-x: auto; /* Desplazamiento horizontal */
    gap: 1.5rem;
    
    max-width: 100%;
    
    margin: 0 auto;
    margin-left: 55px;
}

.category-card {
    flex: 0 0 auto; /* Ancho fijo sin encogerse */
    width: 250px; /* Ancho de las cartas */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.category-card:hover {
    transform: translateY(-5px);
}

.category-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.category-info h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.category-info p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
}

.btn-outline {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.2s, color 0.2s;
}

.btn-outline:hover {
    background-color: #333;
    color: #fff;
}



/* Responsividad */
@media (max-width: 768px) {
    .hero-section {
        padding: 2rem 1rem;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .categories-grid {
        flex-wrap: wrap; /* Permitir saltos de línea si el viewport es pequeño */
        justify-content: center;
    }
}
